@import url('https://fonts.googleapis.com/css2?family=Krub:wght@500&family=Rubik&display=swap');



.nav-container{
  display: flex;
  padding: 5px;
}

.logo-container{
  width: 30%;
  display: flex;
  justify-content: center;
}

.links{
  width: 70%;
  display: flex;
  align-items: center;
}

a{
  text-decoration: none;
height: 22px;
font-family: 'Krub', sans-serif;
font-size: 16px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0.05em;
color: #2A4F6D;
margin-right: 55px;
}

button{
width:185px;
height: 50px;
background-color:#E57E38 ;
border: none;
font-family: Krub;
font-size: 16px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0em;
text-align: center;
}

.footer-container{
  height: 440px;
  background-color: #2A4F6D;
  display: flex;
  color: white;
  font-family: Krub;
}
.reroute{
  color:white;
  font-family: Rubik;
font-size: 30px;
font-weight: 600;
line-height: 36px;
letter-spacing: 0em;
text-align: left;

}

.sec1{
  padding-left: 100px;
  width: 33%;
}

.sec2{
  display: flex;
  padding-top: 100px;
}

.sec3{
  padding-top: 80px;
  padding-left: 50px;
}
.btm{
  margin-top: 0px;
  background-color: #2A4F6D;
  color: white;
  display: flex;
  border: 1px solid #4E5683;
  align-items: center;
  justify-content: center;
  font-family: Krub;
font-size: 16px;
font-weight: 500;
line-height: 40px;
letter-spacing: 0em;
border-top: #E57E38;
}